https://github.com/abhilampard/Olympics_Dataset.git
https://github.com/Qian-Han/coursera-Applied-Data-Science-with-Python
##### This is the notebook for assignment 2 of the Coursera Python Data Analysis course. This was converted from a jupyter notebook that you can download it as part of the course downloads zip file. The submissions work by uploading a ipynb file so there's a bit of cutting and pasting needed to get the code from here to there. Also I didn't use their variable names so the final outcome needs some aliasing for the grader to pass it.

# Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on All Time Olympic Games Medals, and does some basic data cleaning.

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

Create a dataframe with following data cleanup to make this file redable.

Create a function load_data to read CSV file and convert CSV data to dataframe.
Skip first row
Rename column containing 01, 02 and 03 to Gold, Silver and Bronze
Split country name and country code and add country name as data frame index
Remove extra unnecessary characters from country name.
Drop the column Totals
Return dataframe.

In [1]:
import numpy as np
import pandas as pd

In [ ]:
np.__version__

In [ ]:
pd.__version__

In [34]:
# read CSV file and convert CSV data to dataframe.
    # Skip first row
df = pd.read_csv('olympics.csv',skiprows=1)  # index_col 指定第一欄作為index，預設為none自行加入。skiprows跳過第一欄無用的數字
# df

#　rename columns
rename_col={'Unnamed: 0': 'Country',
            '01 !':'Gold_s',
            '02 !':'Silver_s',
            '03 !':'Bronze_s',
            '01 !.1':'Gold_w',
            '02 !.1':'Silver_w',
            '03 !.1':'Bronze_w',
            '01 !.2':'Gold',
            '02 !.2':'Silver',
            '03 !.2':'Bronze',
           }
df = df.rename(columns=rename_col)
# df

# Split country name and country code and add country name as data frame inde
    # split wuth regex('reg') get first item([0]) 
country_names  = [s.split('\xa0(')[0] for s in df.iloc[:,0]]  

# set country_names as index
df = df.set_index(pd.Series(country_names))
df = df.drop(columns=['Country']) 

# drop row[Toltals] 
df = df.drop('Totals') 
df
# [i for i in df.index.values] # check country name

,№ Summer,Gold_s,Silver_s,Bronze_s,Total,№ Winter,Gold_w,Silver_w,Bronze_w,Total.1,№ Games,Gold,Silver,Bronze,Combined total
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

### Question 0 (Example)

What is the first country in df?

This function should return a Series.

In [ ]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    
    return df.iloc[0]
#     return df.iloc[0,:]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Question 1
Which country has won the most gold medals in summer games?

Create a function gold_medal to get name of country who won most gold medals.
Return country name.

In [35]:
def gold_medal():
    
    # get by sort_values
#     return df.sort_values(by='Gold_s', ascending=False).index[0]
    
    # get by index
    return df.iloc[:,1].idxmax()
 
gold_medal()

'United States'

In [ ]:
def answer_one():
#     return "YOUR ANSWER HERE"
    most_gold = max(df['Gold'])
    return str(df[df['Gold'] == most_gold].index[0])
#     return most_gold

answer_one()

## Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

Create a function biggest_difference_in_gold_medal to get name of country who has biggest difference between their summer and winter gold medal counts.
Return country name.

In [ ]:
def biggest_difference_in_gold_medal():
    
    diff = (df['Gold_s']-df['Gold_w']).abs()
        # get by sort_values
#     return diff.sort_values( ascending=False).index[0]

    # get by index
    return diff.idxmax()
    
biggest_difference_in_gold_medal()

In [ ]:
def answer_two():
    copy_df = df.copy()
    copy_df['Diff'] = copy_df['Gold_s'] - copy_df['Gold_w']
#     print(copy_df['Diff'])
    most_diff = max(copy_df['Diff'])
    return (str(copy_df[copy_df['Diff'] == most_diff].index[0]))
    
answer_two()

## Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$
Only include countries that have won at least 1 gold in both summer and winter.

This function should return a single string value.

In [3]:
def q3():
    # 篩選條件指定至少拿過夏季及冬季金牌的
    # 指定使用copy避免後面造成chain indexing問題
    df_gold = df[(df.loc[:,'Gold_s'] >= 1) & (df.loc[:,'Gold_w'] >= 1)].copy()
    
    # 在df後方插入'Diff'欄位 取得夏季與冬季金牌的數量差異的絕對值
    df_gold['Diff'] =  (df_gold.loc[:,'Gold_s'] - df_gold.loc[:,'Gold_w']).abs()
    
    maxRatio = df_gold.loc[:,'Diff'] / df_gold.loc[:,'Gold']
    
    return maxRatio.sort_values(ascending=False).index[0]
    
q3()

'Bulgaria'

In [ ]:
def answer_three():
    copy_df = df.copy()
    copy_df = copy_df.where(df['Gold_s'] > 0)
    copy_df = copy_df.where(df['Gold_w'] > 0)
#     print(copy_df)
#     copy_df_final = copy_df[np.isfinite(copy_df['Gold_Ratio'])]
    copy_df['Diff'] = copy_df['Gold_s'] - copy_df['Gold_w']
    copy_df['Gold_Ratio'] = copy_df['Diff'] / (copy_df['Gold_s'] + copy_df['Gold_w'])
    copy_df_final = copy_df[np.isfinite(copy_df['Gold_Ratio'])]
    max_ratio = max(copy_df_final['Gold_Ratio'])
    
    return (str(copy_df_final[copy_df_final['Gold_Ratio'] == max_ratio].index[0]))
answer_three()

## Question 4
Write a function to update the dataframe to include a new column called "Points" for Games which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created.

Create a function get_points.
Return dataframe with points column and index.

In [ ]:
def get_points():
    df['Points'] = df['Gold']*3+ df['Silver']*2+ df['Bronze']*1
    return df['Points']
get_points()

# Part 2
For the next set of questions, we will be using census data from the United States Census Bureau. Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. See this document for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

United States Census Bureau
https://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

This function should return a single string value.

In [46]:
census_df = pd.read_csv('census.csv')

In [59]:
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [47]:
def q5():
    
    x = census_df.groupby(['STNAME']).count()
    country_num = x.loc[:,'COUNTY']
    country_max = country_num.idxmax()
    
    return country_max

q5()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use CENSUS2010POP.

This function should return a list of string values.

In [88]:
def q6():
    # remove sum of state
    country = census_df[census_df.loc[:,'COUNTY']!=0].copy()
    
    topCountry  = country.sort_values(by='CENSUS2010POP',ascending=False).iloc[:,5:8]
    topList = topCountry.loc[:,'STNAME'][0:3]
    
    return topList.tolist()  

q6()

['California', 'Illinois', 'Texas']

In [76]:
def answer_six():
    counties_df = census_df[census_df['SUMLEV'] == 50]
#     top_counties_df = counties_df.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False).groupby('STNAME').head(3)
    top_counties_df = counties_df.sort_values(by = 'CENSUS2010POP', ascending = False).groupby('STNAME').head(3)
#     print(top_counties_df)
    
#     top_counties_df = counties_df.sort_values(by=['CENSUS2010POP'],ascending=False).groupby('STNAME').head(3)
#     print(top_counties_df)
    ans = top_counties_df.groupby('STNAME').sum().sort_values(by='CENSUS2010POP' , ascending = False).head(3).index.tolist()
    return ans
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

This function should return a single string value.

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column.

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).