https://github.com/abhilampard/Olympics_Dataset.git
https://github.com/Qian-Han/coursera-Applied-Data-Science-with-Python
##### This is the notebook for assignment 2 of the Coursera Python Data Analysis course. This was converted from a jupyter notebook that you can download it as part of the course downloads zip file. The submissions work by uploading a ipynb file so there's a bit of cutting and pasting needed to get the code from here to there. Also I didn't use their variable names so the final outcome needs some aliasing for the grader to pass it.

# Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on All Time Olympic Games Medals, and does some basic data cleaning.

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

Create a dataframe with following data cleanup to make this file redable.

Create a function load_data to read CSV file and convert CSV data to dataframe.
Skip first row
Rename column containing 01, 02 and 03 to Gold, Silver and Bronze
Split country name and country code and add country name as data frame index
Remove extra unnecessary characters from country name.
Drop the column Totals
Return dataframe.

In [26]:
import numpy as np
import pandas as pd

In [26]:
# read CSV file and convert CSV data to dataframe.
    # Skip first row
df = pd.read_csv('olympics.csv',skiprows=1)  # index_col 指定第一欄作為index，預設為none自行加入。skiprows跳過第一欄無用的數字
# df

#　rename columns
rename_col={'Unnamed: 0': 'Country',
            '01 !':'Gold_s',
            '02 !':'Silver_s',
            '03 !':'Bronze_s',
            '01 !.1':'Gold_w',
            '02 !.1':'Silver_w',
            '03 !.1':'Bronze_w',
            '01 !.2':'Gold',
            '02 !.2':'Silver',
            '03 !.2':'Bronze',
           }
df = df.rename(columns=rename_col)
# df

# Split country name and country code and add country name as data frame inde
    # split wuth regex('reg') get first item([0]) 
country_names  = [s.split('\xa0(')[0] for s in df.iloc[:,0]]  

# set country_names as index
df = df.set_index(pd.Series(country_names))
df = df.drop(columns=['Country']) 

# drop row[Toltals] 
df = df.drop('Totals') 
df
# [i for i in df.index.values] # check country name

,№ Summer,Gold_s,Silver_s,Bronze_s,Total,№ Winter,Gold_w,Silver_w,Bronze_w,Total.1,№ Games,Gold,Silver,Bronze,Combined total
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17

### Question 0 (Example)

What is the first country in df?

This function should return a Series.

In [27]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    
    return df.iloc[0]
#     return df.iloc[0,:]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

№ Summer          13
Gold_s             0
Silver_s           0
Bronze_s           2
Total              2
№ Winter           0
Gold_w             0
Silver_w           0
Bronze_w           0
Total.1            0
№ Games           13
Gold               0
Silver             0
Bronze             2
Combined total     2
Name: Afghanistan, dtype: int64

# Question 1
Which country has won the most gold medals in summer games?

Create a function gold_medal to get name of country who won most gold medals.
Return country name.

In [5]:
def gold_medal():
    
    # get by sort_values
#     return df.sort_values(by='Gold_s', ascending=False).index[0]
    
    # get by index
    return df.iloc[:,1].idxmax()
 
gold_medal()

'United States'

In [31]:
def answer_one():
#     return "YOUR ANSWER HERE"
    most_gold = max(df['Gold'])
    return str(df[df['Gold'] == most_gold].index[0])
#     return most_gold

answer_one()

'United States'

## Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

Create a function biggest_difference_in_gold_medal to get name of country who has biggest difference between their summer and winter gold medal counts.
Return country name.

In [8]:
def biggest_difference_in_gold_medal():
    
    diff = df['Gold_s']-df['Gold_w']
        # get by sort_values
#     return diff.sort_values( ascending=False).index[0]

    # get by index
    return diff.idxmax()
    
biggest_difference_in_gold_medal()

'United States'

In [35]:
def answer_two():
    copy_df = df.copy()
    copy_df['Diff'] = copy_df['Gold_s'] - copy_df['Gold_w']
#     print(copy_df['Diff'])
    most_diff = max(copy_df['Diff'])
    return (str(copy_df[copy_df['Diff'] == most_diff].index[0]))
    
answer_two()

'United States'

## Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$
Only include countries that have won at least 1 gold in both summer and winter.

This function should return a single string value.

In [ ]:
def q3():
    df_gold = df[(df['Gold_s']>=1) &  (df['Gold_s']>=1)]
#     diff = (df_gold['Gold_s'] - df_gold['Gold_w'])/df_gold['Gold']
    
    
q3()

In [88]:
df_gold = df[(df['Gold_s']>=1) &  (df['Gold_w']>=1)]
# df_gold['Diff'] =  df_gold.loc[:,'Gold_s'] - df_gold.loc[:,'Gold_w']
# df_gold['Diff'] = df_gold['Gold_s'] - df_gold['Gold_w']

df_gold

,№ Summer,Gold_s,Silver_s,Bronze_s,Total,№ Winter,Gold_w,Silver_w,Bronze_w,Total.1,№ Games,Gold,Silver,Bronze,Combined total
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany,3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan,5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21

In [80]:
def answer_three():
    copy_df = df.copy()
    copy_df = copy_df.where(df['Gold_s'] > 0)
    copy_df = copy_df.where(df['Gold_w'] > 0)
#     print(copy_df)
#     copy_df_final = copy_df[np.isfinite(copy_df['Gold_Ratio'])]
    copy_df['Diff'] = copy_df['Gold_s'] - copy_df['Gold_w']
    copy_df['Gold_Ratio'] = copy_df['Diff'] / (copy_df['Gold_s'] + copy_df['Gold_w'])
    copy_df_final = copy_df[np.isfinite(copy_df['Gold_Ratio'])]
    max_ratio = max(copy_df_final['Gold_Ratio'])
    
    return (str(copy_df_final[copy_df_final['Gold_Ratio'] == max_ratio].index[0]))
answer_three()

'Bulgaria'

## Question 4
Write a function to update the dataframe to include a new column called "Points" for Games which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created.

Create a function get_points.
Return dataframe with points column and index.

In [20]:
def get_points():
    df['Points'] = df['Gold']*3+ df['Silver']*2+ df['Bronze']*1
    return df['Points']
get_points()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64