## Quiz2

In [22]:
import pandas as pd
import numpy as np

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [13]:
obj2['California']

nan

In [7]:
x = obj2['California']
obj2['California'] != x

True

In [12]:
obj2['California'] == None

False

In [9]:
obj3['California']

True

In [11]:
import math
math.isnan(obj2['California'])

True

## Q2

In [15]:
import pandas as pd
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
    '5': 'Ryan'
}
S = pd.Series(d)

'''
In the above python code, the keys of the dictionary d represent student ranks and 
the value for each key is a student name. Which of the following can be used to 
extract rows with student ranks that are lower than or equal to 3?
'''

'\nIn the above python code, the keys of the dictionary d represent student ranks and \nthe value for each key is a student name. Which of the following can be used to \nextract rows with student ranks that are lower than or equal to 3?\n'

In [16]:
S

1    Alice
2      Bob
3     Rita
4    Molly
5     Ryan
dtype: object

In [20]:
S.loc['0':"3"]

1    Alice
2      Bob
3     Rita
dtype: object

## Q3

In [ ]:
'''
Suppose we have a DataFrame named df. We want to change the original DataFrame df
in a way that all the column names are cast to upper case. Which of the following 
expressions is incorrect to perform the same?
'''

In [24]:

df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
df

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [54]:
df.T[1]

A    2
B    3
Name: 1, dtype: int32

In [48]:
df[(df['B']>3) & (df['B']<9)]

(df['B']>3) & (df['B']<9) # rerurn bool

df[df['B'].gt(3) & df['B'].le(9)]

df[df['B'].isin(range(4,9))]

   A  B
2  4  5
3  6  7

In [26]:
df.where(df['B']>3).dropna()

     A    B
2  4.0  5.0
3  6.0  7.0
4  8.0  9.0

In [30]:
df.drop([1,2])

   A  B
0  0  1
3  6  7
4  8  9

In [1]:
# For the Series s1 and s2 defined below, which of the following statements will give an error?

import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})


s2.loc[1]

KeyError: 1

In [36]:
list(s2.iteritems())

[('Alice', 1), ('Jack', 2), ('Molly', 3)]

In [39]:
s1.loc[1]

'Alice'

In [40]:
s1.iloc[1]

'Jack'